@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    color: transparent;
}

.paginationBtn {
    @apply inline-flex items-center justify-center whitespace-nowrap cursor-pointer disabled:cursor-not-allowed disabled:text-status-disable h-[40px] gap-3 rounded-md text-body-2 font-semibold px-0;
}

@media (min-width: 48rem) {
    .md\:container {
        width: 100%
    }

    @media (min-width: 40rem) {
        .md\:container {
            max-width: 40rem
        }
    }

    @media (min-width: 48rem) {
        .md\:container {
            max-width: 48rem
        }
    }

    @media (min-width: 64rem) {
        .md\:container {
            max-width: 64rem
        }
    }

    @media (min-width: 80rem) {
        .md\:container {
            max-width: 80rem
        }
    }

    @media (min-width: 96rem) {
        .md\:container {
            max-width: 96rem
        }
    }

    .md\:container {
        margin-inline: auto;
        padding-inline: 1.25rem
    }

    @media (min-width: 48rem) {
        .md\:container {
            padding-inline: 2.5rem;
        }
    }

    @media (min-width: 64rem) {
        .md\:container {
            padding-inline: 20px;
        }
    }
}

.container {
    width: 100%
}

@media (min-width: 40rem) {
    .container {
        max-width:40rem
    }
}

@media (min-width: 48rem) {
    .container {
        max-width:48rem
    }
}

@media (min-width: 64rem) {
    .container {
        max-width:64rem
    }
}

@media (min-width: 80rem) {
    .container {
        max-width:80rem
    }
}

@media (min-width: 96rem) {
    .container {
        max-width:96rem
    }
}

.container {
    margin-inline:auto;padding-inline:1.25rem}

@media (min-width: 48rem) {
    .container {
        padding-inline:2.5rem
    }
}

@media (min-width: 64rem) {
    .container {
        padding-inline:20px
    }
}

